<div class="container">
  <div class="row">
    <!-- Workout Plan Table -->
    <div class="col-sm-5" id="workout-plan-list">
      <div class="row">
        <h2 id="workout-plans-header" class="browse-plan-header"></h2><hr><br>
      </div>

      <div class="hidden-table">
        <div id="browse-table"></div>
      </div>
    </div>

    <!-- Browse Workout Plans -->
    <div class="col-sm-5" id="workout-plan-list">
      <a href="/workout_plans" id="browse-plans-header">Browse Workout Plans</a><hr><br>

      <div class="browse-plan-container">
        <ul class="browse-plan-list"></ul>
      </div>
    </div>
  </div>
</div>
