<div class="container">
  <div class="row">
    <!-- Browse Plans Index -->
    <div class="col-sm-4" id="browse-index-page">
      <h2 class="browse-plans-title">Browse Workout Plans</h2><hr>

      <div id="browse-plans-item">
        <% @workout_plans.each do |workout_plan| %>
          <h3 class="browse-plans-name"><a href="/workout_plans/<%=workout_plan.id%>" class="browse-plan"><%= workout_plan.name %> <%= "  - #{workout_plan.average_rating}" if workout_plan.average_rating  %></a></h3>
        <% end %>
      </div>
    </div>

    <!-- Browse Plan Table -->
    <div class="col-sm-7 hidden" id="browse-plan-table">
      <h2 class="browse-table-header browse-plans-title"></h2><hr>
    </div>
  </div>
</div>
