<a href="/workout_plans" id="browse-plans-header">Browse Workout Plans</a><hr><br>

<% if all_workout_plans.blank? %>
  <h2 class="workout-plan-item">There are no other workouts</h2>
<% else %>
  <div class="browse-plan-container">
    <ul class="browse-plan-list"></ul>
  </div>
<% end %>
