<table class="table workout-plan-table clearfix">
  <thead>
    <tr>
      <th class="col-sm-3">Exercise</th>
      <th class="col-sm-2">Sets</th>
      <th class="col-sm-2">Reps</th>
      <th class="col-sm-2">Edit</th>
    </tr>
  </thead>
  <tbody>
    <% exercise.workouts.each do |workout| %>
    <tr>
      <td><%= workout.name %></td>
      <td><%= workout.sets %></td>
      <td><%= workout.reps %></td>
      <td><%= link_to 'Edit', edit_workout_plan_workout_path(current_user.current_plan, workout) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
