<div class="container">
  <div class="row">
    <div class="col-sm-7" id="workout-plan-list">
      <% if @workout_plans.blank? %>
        <%= link_to 'Create your first workout!', new_workout_plan_exercise_path(current_user.new_plan), class: "workout-plan-item" %>
      <% else %>
        <div class="row">
          <div class="col-sm-7">
            <h2 id="workout-plans-title">Your Workout Plans</h2>
          </div>
          <div class="col-sm-5">
            <h2 id="workout-plans-date">Date Created</h2>
          </div>
        </div><hr>

        <div id="workout-plans-index">
          <% @workout_plans.each do |workout_plan| %>
            <%= render 'workout_plan_list', workout_plan: workout_plan %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
