<div class="container">
  <div class="row">
    <div class="col-sm-5" id="workout-plan-list">
      <h2 id="workout-plans-header">Your Workout Plans</h2><hr><br>

      <% @workout_plans.each do |workout_plan| %>
        <%= render 'workout_plan_list', workout_plan: workout_plan %>
      <% end %>
    </div>

    <div class="col-sm-5" id="workout-plan-list">
      <h2 id="workout-plans-header">Browse Workout Plans</h2><hr><br>

      <% WorkoutPlan.all.each do |workout_plan| %>
        <%= render 'workout_plan_list', workout_plan: workout_plan %>
      <% end %>
    </div>
  </div>
</div>
