<h2>Workout Plan</h2>

<% @workout_plan.all_muscle_groups.each do |muscle| %>
  <h2><%= muscle.capitalize %></h2>

  <ul>
    <% @workout_plan.send("#{muscle}_exercises").each do |exercise| %>
      <%= render 'workout', exercise: exercise %>
    <% end %>
  </ul>
<% end %>
