#browse-index-page {
  margin-top: 80px;
  background-color: white;
  padding: 20px;
  box-shadow: 1px 1px 2px gray;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.browse-plans-title {
  color: rgba(0, 143, 179, 1.2);
  font-weight: 200;
  text-align: center;
}

.browse-plans-name {
  color: rgba(0, 143, 179, 1.2);
  font-weight: 200;
  text-align: center;
}

#browse-plan-table {
  margin-top: 80px;
  margin-left: 50px;
  background-color: white;
  padding: 20px;
  box-shadow: 1px 1px 2px gray;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 560px;
  overflow: scroll;
}

.hidden-table {
  display: none;
}

.browse-muscle-header {
  color: rgba(0, 143, 179, 1);
  font-weight: 200;
  margin-left: 15px;
}
