#browse-plan-list {
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 2px gray;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 40px;
}

#browse-plan-item {
  a {
    font-weight: 200;
    font-size: 1.3em;
    color: rgba(0, 143, 179, 1.2);
  }
  a:hover {
    text-decoration: none;
    color: black;
  }
}

.browse-plan-link {
  padding-top: 15px;
}

.hidden-table {
  display: none;
}

#browse-table {
  th {
    text-align: center;
  }
}
