// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-exercise-form {
  margin-top: 20px;
  text-align: center;
  background-color: white;
  padding: 40px 30px 35px 30px;
  width: 420px;
  box-shadow: -1px 2px 2px gray;
  border-radius: 5px;
  font-weight: 300;
  label {
    font-weight: 400;
  }
}

#edit-form-instruction {
  text-align: center;
  color: rgba(0, 143, 179, 1);
}

#completion-label {
  font-size: 1.1em;
  color: rgba(0, 143, 179, 1);
  margin-top: -2px;
}

.progress-container {
  margin-bottom: -18px;
}

#progress-bar {
  width: 400px;
}

.field_with_errors li {
  padding-bottom: 20px;
  list-style-type: none;
  color: red;
}

.detele-workout-link {
  padding-bottom: 55px;
}
