body {
  background-color: #EEEEEE;
  a {
    color: rgba(0, 143, 179, 1);
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
}

/* NAVBAR */

#navbar {
  margin: -2px -17px 0px;
  background-color: rgba(0, 143, 179, 1);
}

#signup-buttons {
  margin-top: 10px;
  text-align: center;
}

#navbar ul li {
  margin-left: 100px;
  margin-right: 30px;
  font-size: 1.5em;
  font-weight: 200;
  a {
    color: white;
  }
  a:hover {
    background-color: white;
    color: rgba(0, 143, 179, 1);
  }
}

/* FACEBOOK BUTTON */

.btn-facebook {
  background-color: #3B5998;
  color: white;
}

.btn-facebook:hover {
  color: white;
  background-color: #2F487A;
}

/* Sign In/Log in */

#signup {
  text-align: center;
}

.signup-header {
  color: rgba(0, 143, 179, 1.2);
  text-shadow: 0px 1px 1px lightgray;
  margin-top: 70px;
}

/* HOMEPAGE */

#hompage-header {
  text-align: center;
  color: rgba(0, 143, 179, 1);
  font-weight: 200;
  text-shadow: 0px 1px 1px lightgray;
  margin-top: 120px;
}

#flash_alert {
  margin-top: 20px;
  color: red;
  text-align: center;
  font-size: 1.0em;
}

#flash_notice {
  margin-top: 20px;
  color: green;
  text-align: center;
  font-size: 1.0em;
}
