body {
  // background-color: #33ccff;
}

/* NAVBAR */

#navbar {
  padding: 20px;
}

#navbar-display li {
  margin-left: 50px;
  padding: 10px;
}

#signup-buttons {
  margin-top: 10px;
  text-align: center;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  display: inline;
  margin-right: 30px;
  font-size: 1.4em;
}

/* FACEBOOK BUTTON */

.btn-facebook {
  background-color: #3B5998;
  color: white;
}

.btn-facebook:hover{
  color: white;
  background-color: #2F487A;
}

/* Sign In/Log in */

#sign-up {
  text-align: center;
}

/* HOMEPAGE */

#welcome-header {
  text-align:center;
  margin-top: 120px;
}

#hompage-header {
  text-align: center;
  color: navy;
  text-shadow: 1px 2px 2px navy;
}

#homepage-link {
  text-align: center;
  padding: 30px;
}

/* ERROR MESSAGES */

.field_with_errors {
  color: red;
}

#flash_alert {
  margin-top: 20px;
  color:red;
  text-align: center;
  font-size: 1.3em;
}

#flash_notice {
  margin-top: 20px;
  color: green;
  text-align: center;
  font-size: 1.3em;
}
