.ratings-header {
  color: rgba(0, 143, 179, 1);
  font-weight: 200;
  margin-left: 15px;
  font-size: 1.6em;
}

#rate-plan {
  font-size: 1.2em;
  font-weight: 300;
  float:right;
  margin-top: 27px;
}

#rating-input {
  width: 50px;
}

#first-rating {
  font-size: 1.7em;
  font-weight: 200;
  margin-left: 15px;
}

#rating-button {
  width: 80px;
  margin-left: 10px;
}

#rating-form {
  margin-left: 50px;
  margin-top: 16px;
}

#rating-label {
  font-weight: 200;
  color: rgba(0, 143, 179, 1);
  margin-top: 5px;
  font-size: 1.2em;
}
