.ratings-header {
  color: rgba(0, 143, 179, 1);
  font-weight: 200;
  margin-left: 15px;
  font-size: 1.7em;
}

.rate-plan {
  font-size: 1.2em;
  font-weight: 300;
  float:right;
  margin-top: 27px;
  // margin-right: -39px;
}

#rating-input {
  width: 100px;
}
