// Place all the styles related to the WorkoutPlans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Workout Plan Table

#workout-plan-name {
  text-align: center;
  color: rgba(0, 143, 179, 1);
  font-weight: 200;
}

#workout-plan-links {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
  font-weight: 200;
}

#workout-plan-table {
  margin: 20px 60px 0px -10px;
  background-color: white;
  padding: 5px 29px 5px;
  box-shadow: -1px 2px 2px gray;
  border-radius: 5px;
  font-weight: 300;
  label {
    font-weight: 400;
  }
}

#table-muscle-header {
  color: rgba(0, 143, 179, 1);
  font-weight: 200;
}

/* WORKOUT PLANS INDEX */

#workout-plans-header {
  color: rgba(0, 143, 179, 1.2);
  font-weight: 200;
  font-size: 2.2em;
}

#workout-plan-list {
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 2px gray;
  margin-left: 60px;
  margin-top: 50px;
}

#workout-plan-list-exercise {
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 2px gray;
  border-radius: 5px;
  margin-top: 20px;
  width: 435px;
  padding: 0px 15px;
}

.workout-plan-item {
  font-weight: 200;
  font-size: 1.6em;
  color: rgba(0, 143, 179, 1.2);
  a {
    color: rgba(0, 143, 179, 1.2);
  }
  a:hover {
    text-decoration: none;
    color: black;
  }
}
