<div class="row <%= exercise.muscle_group %>-group">
  <div class="container col-sm-3">
    <h2><%= exercise.muscle_group.name.capitalize %></h2><br>
  </div>

  <div class="col-sm-8">
    <table class="table table-hover clearfix">
      <thead>
        <tr>
          <th class="col-sm-3">Exercise</th>
          <th class="col-sm-2">Sets</th>
          <th class="col-sm-2">Reps</th>
          <th class="col-sm-2">Edit</th>
          <th class="col-sm-2">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% exercise.workout_plan.muscle_group_by(exercise.muscle_group.name.downcase).each do |exercise| %>
          <%= render 'table_rows', exercise: exercise %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
