<div class="row <%= exercise.muscle_group %>-group">
  <div class="container col-sm-3">
    <h2 id="table-muscle-header"><%= exercise.muscle_group.name.capitalize %></h2><br>
  </div>

  <div class="col-sm-8">
    <table class="table table-hover clearfix">
      <%= render 'table_head' %>
      <tbody>
        <% exercise.workout_plan.muscle_group_by(exercise.muscle_group.name.downcase).each do |exercise| %>
          <%= render 'table_rows', exercise: exercise %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
